obj/Debug/netcoreapp2.2/Secrets.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/Secrets.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/Secrets.assets.cache
obj/Debug/netcoreapp2.2/Secrets.RazorTargetAssemblyInfo.cache
obj/Secrets.csproj.nuget.cache
obj/Secrets.csproj.nuget.g.props
obj/Secrets.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/Secrets.dll
obj/Debug/netcoreapp2.2/Secrets.pdb
bin/Debug/netcoreapp2.2/Secrets.pdb
bin/Debug/netcoreapp2.2/Secrets.dll
bin/Debug/netcoreapp2.2/Secrets.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/Secrets.runtimeconfig.json
obj/Debug/netcoreapp2.2/Secrets.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/Secrets.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/Secrets.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/project.razor.json
.vscode/settings.json
